scipy==1.14.0
tenacity==8.5.0
tiktoken==0.7.0
termcolor==2.4.0
openai==1.35.10

transformers==4.42.3
accelerate==0.32.1
peft==0.11.1
trl==0.9.4
bitsandbytes==0.43.1
evaluate==0.4.2
rouge-score==0.1.2

wandb==0.17.4